%% -*- erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% %% ex: ts=4 sw=4 et

{plugins, [
           %{rebar3_appup, {git, "https://github.com/joaohf/rebar3_appup.git", {branch, "master"}}},
           rebar3_appup_plugin
           %{rebar3_appup_plugin, {git, "/home/joaohf/opensource/rebar3_appup_plugin", {branch, "master"}}}
]}.

{provider_hooks, [
  {post, [{compile, {appup, compile}}]},
  {pre, [{clean, {appup, clean}}]}
]}.

{erl_opts, [debug_info]}.
{deps, []}.
